<div id="location-selection">
  <div id="location-cities">
    Chọn Thành Phố
    <br/>
    <select id="cities">
      <option>Đà Lạt</option>
      <option>Đà Nẵng</option>
      <option>Hà Nội</option>
      <option>Hồ Chí Minh (Sài Gòn)</option>
      <option>Huế</option>
      <option>Vũng Tàu</option>
    </select>
  </div>
  <div id="location-districts">
    Chọn Quận
    <br/>
    <select id="districts">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>Phú Nhuận</option>
      <option>Bình Thạnh</option>
      <option>Tân Bình</option>
      <option>Gò Vấp</option>
      <option>Tân Phú</option>
      <option>Thủ Đức</option>
      <option>Bình Tân</option>
    </select>
  </div>
</div>

<div id="type-of-dish-selection">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active">
          <a href="#tab1" data-toggle="tab">Việt</a>
      </li>
      <li>
        <a href="#tab2" data-toggle="tab">Nước Ngoài</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <p>
          <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> Bún
          </label>
          <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox2" value="option2"> Cháo
          </label>
          <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox3" value="option3"> Chè
          </label>
        </p>
      </div>
      <div class="tab-pane" id="tab2">
        <p>Howdy, I'm in Section 2.</p>
      </div>
    </div>
  </div>
</div>

<iframe width="900" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=182%2F23B+L%C3%AA+V%C4%83n+S%E1%BB%B9,+ph%C6%B0%E1%BB%9Dng+10,+Ho+Chi+Minh+City,+Vietnam&amp;aq=1&amp;oq=182%2F23B+Le+Van+S&amp;sll=10.77665,106.709175&amp;sspn=0.223271,0.345039&amp;ie=UTF8&amp;hq=&amp;hnear=182+L%C3%AA+V%C4%83n+S%E1%BB%B9,+10,+Ph%C3%BA+Nhu%E1%BA%ADn,+Ho+Chi+Minh+City,+Vietnam&amp;t=m&amp;z=14&amp;ll=10.792912,106.670449&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=182%2F23B+L%C3%AA+V%C4%83n+S%E1%BB%B9,+ph%C6%B0%E1%BB%9Dng+10,+Ho+Chi+Minh+City,+Vietnam&amp;aq=1&amp;oq=182%2F23B+Le+Van+S&amp;sll=10.77665,106.709175&amp;sspn=0.223271,0.345039&amp;ie=UTF8&amp;hq=&amp;hnear=182+L%C3%AA+V%C4%83n+S%E1%BB%B9,+10,+Ph%C3%BA+Nhu%E1%BA%ADn,+Ho+Chi+Minh+City,+Vietnam&amp;t=m&amp;z=14&amp;ll=10.792912,106.670449" style="color:#0000FF;text-align:left">View Larger Map</a></small>