<div id="location-selection">
  <select id="cities">
  <option>Đà Lạt</option>
  <option>Đà Nẵng</option>
  <option>Hà Nội</option>
  <option>Hồ Chí Minh (Sài Gòn)</option>
  <option>Huế</option>
  <option>Vũng Tàu</option>
  </select>
  
  <select id="districts" multiple="multiple">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
  <option>8</option>
  <option>9</option>
  <option>10</option>
  <option>11</option>
  <option>12</option>
  <option>Phú Nhuận</option>
  <option>Bình Thạnh</option>
  <option>Tân Bình</option>
  <option>Gò Vấp</option>
  <option>Tân Phú</option>
  <option>Thủ Đức</option>
  <option>Bình Tân</option>
  </select>
</div>

<div id="type-of-dish-selection">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active">
          <a href="#tab1" data-toggle="tab">Việt</a>
      </li>
      <li>
        <a href="#tab2" data-toggle="tab">Nước Ngoài</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <p>
          <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> Bún
          </label>
          <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox2" value="option2"> Cháo
          </label>
          <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox3" value="option3"> Chè
          </label>
        </p>
      </div>
      <div class="tab-pane" id="tab2">
        <p>Howdy, I'm in Section 2.</p>
      </div>
    </div>
  </div>
</div>