<div id="location-selection">
  <div id="location-cities">
    Chọn Thành Phố
    <br/>
    <select id="cities">
      <option>Đà Lạt</option>
      <option>Đà Nẵng</option>
      <option>Hà Nội</option>
      <option selected>Hồ Chí Minh (Sài Gòn)</option>
      <option>Huế</option>
      <option>Vũng Tàu</option>
    </select>
  </div>
  <div id="location-districts">
    Chọn Quận
    <br/>
    <select id="districts" onchange="javascript: loadPosition(this.value);">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="phu-nhuan">Phú Nhuận</option>
      <option value="binh-thanh">Bình Thạnh</option>
      <option value="tan-binh">Tân Bình</option>
      <option value="go-vap">Gò Vấp</option>
      <option value="tan-phu">Tân Phú</option>
      <option value="thu-duc">Thủ Đức</option>
      <option value="binh-tan">Bình Tân</option>
    </select>
  </div>
</div>

<div id="type-of-dish-selection">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active">
          <a href="#tab1" data-toggle="tab">Việt</a>
      </li>
      <li>
        <a href="#tab2" data-toggle="tab">Nước Ngoài</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div id="cat-selection">
          <div id="pane1" class="pane">
            <label class="checkbox">
            <input type="checkbox" id="bun" value="52"> Bún
            </label>
            <label class="checkbox">
            <input type="checkbox" id="chao" value="56"> Cháo
            </label>
            <label class="checkbox">
            <input type="checkbox" id="che" value="35"> Chè
            </label>
            <label class="checkbox">
            <input type="checkbox" id="banhcanh" value="51"> Bánh Canh
            </label>
            <label class="checkbox">
            <input type="checkbox" id="banhmi" value="203"> Bánh mì
            </label>
            <label class="checkbox">
            <input type="checkbox" id="banhngot" value="64"> Bánh ngọt
            </label>
          </div>
          <div id="pane2" class="pane">
            <label class="checkbox">
            <input type="checkbox" id="banhcuon" value="53"> Bánh xèo - Bánh cuốn
            </label>
            <label class="checkbox">
            <input type="checkbox" id="buffet" value="501"> Buffet
            </label>
            <label class="checkbox">
            <input type="checkbox" id="goicuon" value="63"> Gỏi - Món cuốn
            </label>
            <label class="checkbox">
            <input type="checkbox" id="haisan" value="50"> Hải sản
            </label>
            <label class="checkbox">
            <input type="checkbox" id="hutieu" value="49"> Hủ tiếu - Mì - Miến
            </label>
            <label class="checkbox">
            <input type="checkbox" id="chay" value="817"> Chay
            </label>
          </div>
          <div id="pane3" class="pane">
            <label class="checkbox">
            <input type="checkbox" id="nambo" value="5"> Món Nam Bộ
            </label>
            <label class="checkbox">
            <input type="checkbox" id="monnuong" value="134"> Món nướng - Món quay
            </label>
            <label class="checkbox">
            <input type="checkbox" id="ngoaitroi" value="814"> Ngoài trời
            </label>
            <label class="checkbox">
            <input type="checkbox" id="pho" value="48"> Phở
            </label>
            <label class="checkbox">
            <input type="checkbox" id="quannhau" value="38"> Quán nhậu
            </label>
            <label class="checkbox">
            <input type="checkbox" id="sangtrong" value="135"> Sang trọng
            </label>
          </div>
          <div id="pane4" class="pane">
            <label class="checkbox">
            <input type="checkbox" id="annhanh" value="801"> Thức ăn nhanh
            </label>
            <label class="checkbox">
            <input type="checkbox" id="annhe" value="529"> Thức ăn nhẹ
            </label>
            <label class="checkbox">
            <input type="checkbox" id="com" value="47"> Cơm
            </label>
          </div>
        </div>
        <div class="form-buttons-right">
          <a href="#" class="btn btn-primary disabled">Tìm</a>
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <p>Howdy, I'm in Section 2.</p>
      </div>
    </div>
  </div>
</div>

<div id="map_canvas" style="width: 900px; height: 450px"></div>

<script type="text/javascript">
  window.onload = loadScript;
</script>