<div ng-controller="SelectionsCtrl">
  <div id="location-selection">
    <div id="inputs">
      <div id="location-cities">
        Chọn Thành Phố
        <br/>
        <select id="cities">
          <option>Đà Lạt</option>
          <option>Đà Nẵng</option>
          <option>Hà Nội</option>
          <option selected>Hồ Chí Minh (Sài Gòn)</option>
          <option>Huế</option>
          <option>Vũng Tàu</option>
        </select>
      </div>
      <div id="location-districts">
        Chọn Quận
        <br/>
        <select ng:model="selectedDistrictId" 
          ng:options="d.id as d.name for d in districts | orderBy:'name'" 
          ng-init="selectedDistrictId=2" 
          ng-change="selectDistrict()">
        </select>
      </div>
    </div>
  </div>

  <div id="type-of-dish-selection">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li ng-repeat="maincat in maincats" ng-class="{active: maincat.selected}">
          <a href="#tab-{{maincat.id}}" data-toggle="tab" ng-click="selectMainCat(maincat)">{{maincat.name}}</a>
        </li>
      </ul>

      <div class="tab-content" ng-repeat="maincat in maincats">
        <div class="tab-pane" id="tab-{{maincat.id}}" ng-class="{active: maincat.selected}">
          <div id="cat-selection">
              <label class="checkbox" ng-repeat="subcat in maincat.subcats | orderBy:'name'">
              <input type="checkbox" id="{{subcat.id}}" 
                value="{{subcat.id}}" 
                ng-model="subcat.checked"
                ng-click="selectSubCat(subcat)"> {{subcat.name}}
              </label>
          </div>
          <div class="centered-button">
            <a href="#" class="btn btn-link" onclick="toggleFeaturePane()">Thêm tính chất</a>
          </div>
        </div>
      </div>
      
      <div class="tab-content">
        <div id="feature-selection">
          <label class="checkbox feature-checkbox" ng-repeat="feature in features | orderBy:'name'">
          <input type="checkbox" id="{{feature.id}}" 
            value="{{feature.id}}" 
            ng-model="feature.checked"
            ng-click="selectFeature(feature)"> {{feature.name}}
          </label>
        </div>
      </div>
    </div>
    <div id="no-result-alert" class="alert alert-error" style="display: none;">
      Xin lỗi, chúng tôi <strong>không tìm thấy kết quả</strong>. Xin bạn vui lòng chọn lại.
    </div>
    
  </div>

</div>

<div ng-controller="MapsCtrl">
  
  <div id="map_canvas" style="width: 600px; height: 450px"></div>

  <div id="place-list" style="height: 450px; overflow: auto;">
    <table id="place-table" class="table">
      <tr ng-repeat="place in placesData">
        <td width=50>
          <img src="http://s3-media1.ak.yelpcdn.com/bphoto/nclzvmCZDFzT-AefBnYeww/ms.jpg"
          width=50
          />
        </td>
        <td>
          <div>
            <a class="place-name-link" href="#myModal" data-toggle="modal"
            onclick="javascript:MapsCtrl.setScopePlaceData({{place}});">{{place.name}}</a>
          </div>
          <div>{{place.address}}</div>
        </td>
      </tr>
    </table>
  </div>
  
  <div id="place-modal-wrapper">
    <div ng-include src="'/assets/place-modal.html'">
    </div>
  </div>
  
  <script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery('#place-list').scroll();
  });
  </script>
</div>